tr.ok
{
	background-color: #99ff99;
}

tr.notok
{
	background-color: #ff6666;
}

tr.limbo
{
	background-color: #ffff44;
}

tr.moreinfo
{
	background-color:#ffaa00;
}

table.queue
{
	border: 2px solid black;
	width: 100%;
	border-collapse: collapse;
	margin-left: 1px;
}

table.queue th
{
	background-color: #bdf;
	border: 1px solid black;
	text-align: center;
	padding: 0 0.1em 0 0.1em;
}

table.queue td
{
	border: 1px solid black;
	text-align: center;
	padding: 0em 0.5em 0em 0.5em;
	margin: 0;
}

table.queue td.source
{
	white-space:nowrap;
}

table.queue td.debdiff
{
	max-width:19em;
	overflow:auto;
	text-overflow:ellipsis;
}

table.queue tr.additional-collapsed
{
	display:none;
}

table.queue tr.additional-expanded
{
	display:table-row;
}

table.queue td.additional
{
	text-align: left;
	border: 0;
}

table.queue td.additional p
{
	margin: 0.5em 0 0.5em 0;
}

span.arches-built-header
{
	display:none;
}

span.arches-built span.architecture
{
	white-space:nowrap;
	display: inline-block;
}
span.arches-built span.architecture:not(:last-of-type)
{
	margin-right: 4.5px;
}

span.arches-missing-header
{
	display:none;
}

span.arches-missing
{
	color: #ff0000;
}
span.arches-missing span.architecture
{
	white-space:nowrap;
	display: inline-block;
}

span.arches-missing span.architecture:not(:last-of-type)
{
	margin-right: 4.5px;
}
span.verproblems-header
{
	display:none;
}
span.verproblems, a.verproblems
{
	color: #ff0000;
}
span.verproblem
{

}
span.debcheck-header
{
	display:none;
}
span.debcheck, span.ci
{
	color: #ff0000;
}

span.debcheck span.architecture,
span.ci span.package
{
	white-space:nowrap;
	margin-right: 4.5px;
}

img
{
	border:0;
}

h2
{
	line-height: 1;
}

h2.debdiff-header
{
	font-weight: bold;
	text-decoraton: underline;
}

span.wdiff-removal
{
	color: #ff0000;
	font-weight: bold;
}

span.wdiff-addition
{
	color: #008000;
	font-weight: bold;
}

#content
{
	margin-right: 20px;
}

#content > p.version
{
	margin-top: 10px;
}

p.version
{
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	line-height: 99.5%;
}

span.versioninfo
{
	font-family: monospace;
}

div.debdiff-content
{
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
	font-family: monospace;
	whitespace: pre-wrap;
	line-height: 135%;
}
tr.additional span span.architecture
{
	margin-right: 4.5px;
}
a.buildd span.architecture:not(:last-of-type)
{
	margin-right: 4.5px;
}
span.ci span.package:first-of-type
{
	margin-left: 4.5px;
}
pre
{
	margin: inherit;
}
