{%- set width = 72 -%}
{%- set indent = 0 -%}
{%- set fieldwidth = 30 -%}
<define-tag pagetitle>Updated Debian {{vars.version}}: {{vars.version}}{{vars.revision}} released</define-tag>
<define-tag release_date>{{vars.year}}-{{vars.month}}-{{vars.day}}</define-tag>
#use wml::debian::news
# $Id:

<define-tag release>{{vars.version}}</define-tag>
<define-tag codename>{{vars.codename}}</define-tag>
<define-tag revision>{{vars.version}}{{vars.revision}}</define-tag>

<define-tag dsa>
    <tr><td align="center"><a href="$(HOME)/security/%0/dsa-%1">DSA-%1</a></td>
        <td align="center"><:
    my @p = ();
    for my $p (split (/,\s*/, "%2")) {
	push (@p, sprintf ('<a href="https://packages.debian.org/src:%s">%s</a>', $p, $p));
    }
    print join (", ", @p);
:></td></tr>
</define-tag>

<define-tag correction>
    <tr><td><a href="https://packages.debian.org/src:%0">%0</a></td>              <td>%1</td></tr>
</define-tag>

<define-tag srcpkg><a href="https://packages.debian.org/src:%0">%0</a></define-tag>

<p>The Debian project is pleased to announce the {{vars.long_revision}} update of its
{{vars.suite}} distribution Debian <release> (codename <q><codename></q>). 
This point release mainly adds corrections for security issues,
along with a few adjustments for serious problems.  Security advisories
have already been published separately and are referenced where available.</p>

<p>Please note that the point release does not constitute a new version of Debian
<release> but only updates some of the packages included.  There is
no need to throw away old <q><codename></q> media. After installation,
packages can be upgraded to the current versions using an up-to-date Debian
mirror.</p>

<p>Those who frequently install updates from security.debian.org won't have
to update many packages, and most such updates are
included in the point release.</p>

<p>New installation images will be available soon at the regular locations.</p>

<p>Upgrading an existing installation to this revision can be achieved by
pointing the package management system at one of Debian's many HTTP mirrors.
A comprehensive list of mirrors is available at:</p>

<div class="center">
  <a href="$(HOME)/mirror/list">https://www.debian.org/mirror/list</a>
</div>

{% if vars.draft %}
{%   if vars['auto:pending'] %}
Packages requiring further investigation
----------------------------------------

The following packages require further investigation before they can be accepted.

    Package                       Problem(s)

{%      for package, info in tables.accepted|dictsort -%}
{%-        if info.status == 'MB' and info.seconly != 'Y' -%}
{%-            set version, details = info.versions|dictsort|last %}
{{ ' ' * indent }}{{package.ljust(fieldwidth)}}Missing builds: {{details.missing_builds|sort|join(' ')}}
{%        endif -%}
{%-     endfor -%}
{%-   endif -%}
{%- endif %}

{% if vars['auto:miscfixes'] %}
<h2>Miscellaneous Bugfixes</h2>

{%  if vars['auto:archsync'] -%}
<p>This {{vars.suite}} update adds several binary updates for various architectures
to packages whose version was not synchronised across all architectures.
It also adds a few important corrections to the following packages:</p>
{%-   else -%}
<p>This {{vars.suite}} update adds a few important corrections to the following packages:</p>
{%-   endif %}

<table border=0>
<tr><th>Package</th>               <th>Reason</th></tr>
{%-   for package, info in tables.accepted|dictsort -%}
{%-     if info.status == 'OK' and info.seconly != 'Y' -%}
{%-       if info.advisory|default('') == '' -%}
{%-         set reasons = [] -%}
{%-         for version, details in info.versions|dictsort if details.advisory|default('') == '' and details.reason not in reasons -%}
{%-             do reasons.append(details.reason) -%}
{%-         endfor %}
<correction {{package}} "{{reasons|join('; ')|capfirst|wmlescape}}">
{%-       endif -%}
{%-     endif -%}
{%-   endfor %}
</table>
{%- endif %}

{% if vars['auto:security'] %}
<h2>Security Updates</h2>


<p>This revision adds the following security updates to the {{vars.suite}} release.
The Security Team has already released an advisory for each of these
updates:</p>

<table border=0>
<tr><th>Advisory ID</th>  <th>Package</th></tr>
{%   for package, info in tables.security|nesteddictsort('advisory') -%}
<dsa {{info.year}} {{info.advisory}} {{info.package}}>
{%  endfor -%}
</table>
{%- endif %}

{% if vars['auto:removals'] %}
<h2>Removed packages</h2>

<p>The following packages were removed due to circumstances beyond our control:</p>

<table border=0>
<tr><th>Package</th>               <th>Reason</th></tr>
{% for removal, details in tables['removals']|dictsort -%}
{%- set reason = details.reason|capfirst -%}
{%- if ' ' in removal -%}
{%- set package, arches = removal.split(' ', 1) -%}
{%- set reasonstring = ' '.join([arches, reason]) -%}
{%- else -%}
{%- set package = removal -%}
{%- set reasonstring = reason -%}
{%- endif -%}
<correction {{package}} "{{reasonstring}}">
{% endfor %}
</table>
{%- endif %}

<h2>Debian Installer</h2>
<p>The installer has been updated to include the fixes incorporated
into {{vars.suite}} by the point release.</p>

<h2>URLs</h2>

<p>The complete lists of packages that have changed with this revision:</p>

<div class="center">
  <url "https://deb.debian.org/debian/dists/<downcase <codename>>/ChangeLog">
</div>

<p>The current {{vars.suite}} distribution:</p>

<div class="center">
  <url "https://deb.debian.org/debian/dists/{{vars.suite}}/">
</div>

<p>Proposed updates to the {{vars.suite}} distribution:</p>

<div class="center">
  <url "https://deb.debian.org/debian/dists/{{vars.pu_suite}}">
</div>

<p>{{vars.suite}} distribution information (release notes, errata etc.):</p>

<div class="center">
  <a
  href="$(HOME)/releases/{{vars.suite}}/">https://www.debian.org/releases/{{vars.suite}}/</a>
</div>

<p>Security announcements and information:</p>

<div class="center">
  <a href="$(HOME)/security/">https://www.debian.org/security/</a>
</div>

<h2>About Debian</h2>

<p>The Debian Project is an association of Free Software developers who
volunteer their time and effort in order to produce the completely
free operating system Debian.</p>

<h2>Contact Information</h2>

<p>For further information, please visit the Debian web pages at
<a href="$(HOME)/">https://www.debian.org/</a>, send mail to
&lt;press@debian.org&gt;, or contact the stable release team at
&lt;debian-release@lists.debian.org&gt;.</p>

{% if vars.draft %}
{{ '=' * width }}
DRAFT DRAFT DRAFT DRAFT DRAFT DRAFT
{{ '=' * width }}
{% endif %}
